<header class="header">
    <div class="container">
      <div class="logo">
        <a href="/">
          <img src="./logo_1.png" alt="Logo">
        </a>
        <img class="logo_angular" src="./favicon.ico" alt="Logo">
      </div>
      <div class="title_poke">
        <h1>Angular - Pokémon API</h1>
      </div>
      <!-- <nav class="nav">
        <a href="#" class="nav-link">Home</a>
        <a href="#" class="nav-link">About</a>
        <a href="#" class="nav-link">Services</a>
        <a href="#" class="nav-link">Contact</a>
      </nav> -->
    </div>
  </header>
  

